@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    list-style: none;
    text-decoration: none;
}
body {
    background: url(img/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 48px;
}
header .logo2{
    width: 150px;
}